.container {
  display: flex;
  transition: all 0.5s ease;
}

.form-container,
.image-container {
  width: 50%;
  transition: all 0.5s ease;
}

.swapped .form-container {
  transform: translateX(-100%);
}

.swapped .image-container {
  transform: translateX(100%);
}

.image-container img {
  width: 100%;
  height: auto;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
