.icon {
  display: flex;
  flex-direction: row;
  min-width: 120px;
  padding: 8px;
  align-items: center;
  justify-content: center;
}

.iconDetails {
  display: flex;
  flex-direction: row;
  min-width: 30px;
  padding: 8px;
  align-items: center;
  justify-content: center;
}


.txtDetails {
}

.txtSeparacao {
  color: orange
}